html {
    font-size: 62.5%;
}
*, ::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0A122A;
    font-family: 'Poppins', arial;
    font-size: 1.6rem;
}

.container {
    width: 50rem;
    max-width: 90%;
    margin: 15rem auto;
}

.container__paragraph {
    color: rgba(255, 275, 275, .7);
    margin-bottom: 2.5rem;
}

@media (max-width:768px) {
    .container {
        margin: 5rem auto;
    }
}



.suggestions__top {
    position: relative;
    width: 100%;
    height: 6rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 0rem .5rem .1rem rgba(0, 0, 0, .1);
    z-index: 1;
}

.suggestions__input {
    width: inherit;
    height: inherit;
    padding: 0 2rem;
    outline: none;
    border: none;
}

.suggestions__icon {
    color: rgba(0, 0, 0, .6);
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    text-decoration: none;
}

.suggestions__autocomplete {
    opacity: 0;
    position: relative;
    top: -.3rem;
    background: #fff;
    padding: 1rem .5rem;
    border-radius: 0 0 .5rem .5rem;
    pointer-events: none;
    transition: all .3s ease;
    overflow-y: auto;
}

.suggestions__autocomplete--active {
    opacity: 1;
    pointer-events: all;
}

.suggestions__item {
    /* color: rgba(0, 0, 0, .5); */
    padding: 1.5rem 2rem;
    margin: auto;
    list-style: none;
    cursor: pointer;
}

.suggestions__item:hover {
    background: #efefef;
    border-radius: .3rem;
}

